POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
DOCKER_DATABASE_URL=

REDIS_URL=
DOCKER_REDIS_URL=

OLLAMA_BASE_URL=
DOCKER_OLLAMA_BASE_URL=
OLLAMA_MODEL=

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

BACKEND_PORT=
POSTGRES_PORT=
REDIS_PORT=
OLLAMA_PORT=